/* custom css rules */

#mapid { height: 800px; }

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f7f7f7;
}

h1 {
	font-weight: 100;
	margin: 50px;
	text-align: center
}

h2 {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 20px;
	display: inline;
}

p {
	font-weight: 300;
	font-size: 14px;
}

select {
	display: inline;
}

.selectbox-div {
	padding: 20px;
}
.area {
    fill: #825a5a;
}

.bar {
	fill: #3fa3de;
}

.container-fluid {
	padding-top: 75px;
}

.nav {
	max-height: 75px;
	width: auto;
}


