/* custom css rules */

#mapid { height: 500px; }

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f7f7f7;
	padding-top: 80px;
}

h1 {
	font-weight: 100;
	margin: 30px;
	text-align: center;

}

h2 {
	font-weight: 400;
	font-size: 18px;
	display: inline;
}

p {
	font-weight: 300;
	font-size: 14px;
}

select {
	display: inline;
}

.selectbox-div {
	padding: 20px;
	width: 400px;
	margin: auto;
	background-color: #dddddd;
}
.area {
    fill: #825a5a;
}

.bar {
	fill: #3fa3de;
}

.bar:hover {
	fill: #082d6a;
}

.center {
	text-align: center;
}

.grey {
	fill: lightgrey;
}

.detailbar {
	fill: #082d6a;
}

.d3-tip {
	line-height: 1.5;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.info {
	font-size: 12px;
	font-weight: 300;
}

.navbar {
	max-height: 75px;
	width: auto;
	box-shadow: 0 5px 20px #686868;
	background-color: #082d6a;
}

.label {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 10px;
}

.row {
	border-bottom: #dddddd 1px solid;
	padding-top: 20px;
	padding-bottom: 20px;
}

.text {
	padding-left: 150px;
	padding-right: 150px;
}

.title {
	font-weight: 400;
	font-size: 14px;
}
#teampic {
    border-radius: 50%;
	align-content: center;
	align: center;
}

